@media only screen and (max-width: 428px) {
    .font video {
        position: fixed;
        width: auto;
        height: auto;
        left: 0;
        top: 0;
    }
    .location {
        position: fixed;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
    .menu-bar {
        position: fixed;
        width: 94%;
        height: 55px;
        background-color: rgb(255, 255, 255);
        border-radius: 40px;
    }
    .katalog {
        position: fixed;
        width: 94%;
        height: 400px;
        margin-top: 89px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 20px;
    }
}
@media only screen and (max-width: 390px) {
    .font video {
        position: fixed;
        width: auto;
        height: auto;
        left: 0;
        top: 0;
    }
    .location {
        position: fixed;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
    .menu-bar {
        position: fixed;
        width: 94%;
        height: 55px;
        background-color: rgb(255, 255, 255);
        border-radius: 40px;
    }
    .katalog {
        position: fixed;
        width: 94%;
        height: 400px;
        margin-top: 89px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 20px;
    }
}
@media only screen and (max-width: 375px) {
    .font video {
        position: fixed;
        width: auto;
        height: auto;
        left: 0;
        top: 0;
    }
    .location {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
    .menu-bar {
        position: fixed;
        width: 94%;
        height: 55px;
        background-color: rgb(255, 255, 255);
        border-radius: 40px;
    }
    .katalog {
        position: fixed;
        width: 94%;
        height: 400px;
        margin-top: 89px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 20px;
    }
}
@media only screen and (max-width: 414px) {
    .font video {
        position: fixed;
        width: auto;
        height: auto;
        left: 0;
        top: 0;
    }
    .location {
        position: fixed;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
    .menu-bar {
        position: fixed;
        width: 94%;
        height: 55px;
        background-color: rgb(255, 255, 255);
        border-radius: 40px;
    }
    .katalog {
        position: fixed;
        width: 94%;
        height: 400px;
        margin-top: 89px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 20px;
    }
}

/* ---------------------------------- */

@media only screen and (max-width: 720px) {
    .font video {
        position: fixed;
        width: auto;
        height: auto;
        left: 0;
        top: 0;
    }
    .location {
        position: fixed;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
    .menu-bar {
        position: fixed;
        width: 94%;
        height: 55px;
        background-color: rgb(255, 255, 255);
        border-radius: 40px;
    }
    .katalog {
        position: fixed;
        width: 94%;
        height: 400px;
        margin-top: 89px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 20px;
    }
} 
@media only screen and (max-width: 1280px) {
    .font video {
        position: fixed;
        width: auto;
        height: auto;
        left: 0;
        top: 0;
    }
    .location {
        position: fixed;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
    .menu-bar {
        position: fixed;
        width: 99%;
        height: 50px;
        background-color: rgb(255, 255, 255);
        border-radius: 40px;
    }
    .katalog {
        position: fixed;
        width: 94%;
        height: 400px;
        margin-top: 89px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 20px;
    }
}
@media only screen and (max-width: 1920px) {
    .font video {
        position: fixed;
        width: auto;
        height: auto;
        left: 0;
        top: 0;
    }
}
@media only screen and (max-width: 2560px) {
    .font video {
        position: fixed;
        width: auto;
        height: auto;
        left: 0;
        top: 0;
    }
}
@media only screen and (max-width: 3840px) {
    .font video {
        position: fixed;
        width: auto;
        height: auto;
        left: 0;
        top: 0;
    }
} 