@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    background-color: #121212;
}



::-webkit-scrollbar {
    width: 12px; /* Ширина роллера */
    background-color: rgba(127, 127, 127, 0.20);
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff77; /* Цвет роллера (замените на ваш цвет) */
}

.top-line {
    position: fixed;
    display: flex;
    top: 0%;
    left: 0%;
    right: 0%;
    margin: 0%;
    background-color: #171717;
    height: 63px;
    width: 100%;
    z-index: 1;
}

.catalog {
    margin-right: 620px; /* Добавлен отступ между .catalog и .catalog-2 */
}

.catalog-2 {
    display: flex;
    align-items: center;
}

.top-line {
    border-bottom: 1px solid rgba(127, 127, 127, 0.5); /* Линия под модальным окном */
    margin-top: 0px; /* Расстояние между модальным окном и линией */
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: center;
}

.top-line .catalog button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.900rem;
    line-height: 2; /* Пример значения высоты строки, может быть настроено по вашему усмотрению */
    margin-right: 10px; /* Расстояние между кнопками (может быть настроено по вашему усмотрению) */
    height: 40px;
    width: auto;
    cursor: pointer;
    letter-spacing: 0.02857em;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border-radius: 8px;
    border: none; /* Убираем границу */
    transition: background-color 0.3s ease;
}

.top-line .catalog button:hover {
    background-color: rgba(127, 127, 127, 0.20); /* Цвет кнопки при наведении */
}

.top-line .catalog-2 button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 40px;
    height: 40px; /* Ширина и высота равны */
    font-size: 0.900rem;
    line-height: 2;
    margin-right: 2px;
    cursor: pointer;
    letter-spacing: 0.02857em;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    border-radius: 50%;
    border: none;
    transition: background-color 0.3s ease;
}

.top-line .catalog-2 button:hover {
    background-color: rgba(127, 127, 127, 0.20);
}

.mini-navigation {
    position: fixed;
    display: inline-flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: center;
    top: 80px;
    left: 50%; /* Размещение по центру горизонтали */
    transform: translateX(-50%); /* Коррекция позиции */
}

.mini-navigation button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    padding: 8px 15px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    font-size: 0.8125rem;
    font-family: 'Roboto' sans-serif;
    font-weight: 100;
    width: auto;
    height: 32px;
    border-radius: 40px;
    border: 1px solid rgba(127, 127, 127, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mini-navigation button:hover {
    background-color: rgba(127, 127, 127, 0.20);
}

.app-site {
    position: fixed;
    display: inline-flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: center;
    top: 180px;
    left: 50%; /* Размещение по центру горизонтали */
    transform: translateX(-50%); /* Коррекция позиции */
}

.app-site button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    padding: 8px 8px;
    color: #fff;
    background-color: #2020206e;
    font-weight: 100;
    font-size: 0.8125rem;
    font-family: 'Roboto' sans-serif;
    width: 570px;
    height: 75px;
    border-radius: 5px;
    border: 1px solid rgba(127, 127, 127, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
}

.editors-choice h5 {
    position: fixed;
    top: 235px;
    left: 475px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
  }

.carousel-caption {
  display: flex;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 325px;
  width: auto;
  max-height: 225px;
  flex-direction: row;
  transition: opacity 1s ease-in-out;
}

.carusel-item {
  margin-right: 10px;
  cursor: pointer;
}

.carusel-item img {
  width: 450px;
  height: 250px; /* Задаете фиксированную высоту */
  object-fit: cover; /* Обрезает изображение, чтобы оно полностью заполнило заданные размеры */
  border-radius: 10px;
}

.carusel-item .name {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  margin-left: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 1;
}

.carusel-item .country-year {
    position: fixed;
    top: 40%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    margin-left: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;
  }

.carusel-item .avatar img {
  position: relative;
  display: fixed;
  top: -224px;
  width: 150px;
  height: 220px;
  left: 280px;
  border-radius: 10px 10px 0px 0px;
}


.reading-today-text h5 {
    position: fixed;
    top: 555px;
    left: 475px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
  }

.reading-today-span {
    position: fixed;
    top: 630px;
    left: 475px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    color: rgba(255, 255, 255, 0.7);
}
