@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');

body {
    background-color: #adb5bd;
}

.top-line {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    margin: 0%;
    background-color: #212529;
    height: 55px;
    width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.icon-menu {
    width: 40px; /* Задайте желаемую ширину кнопки */
    height: 40px; /* Задайте желаемую высоту кнопки */
    background-color: #212529; /* Цвет фона кнопки, замените на ваш */
    border: none; /* Убираем границу */
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(20%, 20%);
    transition: background-color 0.3s ease;
  }

.icon-menu:hover {
    background-color: #495057; /* Цвет фона кнопки, замените на ваш */
  }

.icon-menu img {
    position: relative;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #212529;
    height: 100%;
    width: 300px;
    transition: transform 0.3s ease-out; /* Плавная анимация */
    transform: translateX(-100%);
}

.fon {
    overflow: hidden; /* Чтобы предотвратить "утечку" флоата */
}

.image-1 {
    position: absolute;
    top: -8.5%;
    right: 0%;
    filter: drop-shadow(10px 10px 10px rgb(255, 255, 255));
}

.image-2 {
    position: absolute;
    top: 10%;
    left: 0%;
    filter: drop-shadow(10px 10px 10px rgb(255, 255, 255));
}

.name-site a {
    color: white;
    font-size: 24px;
    font-family: 'Shojumaru', system-ui;
    position: relative;
    width: 25px;
    height: 25px;
    text-decoration: none;
    transition: color 0.2s ease;
    top: -27px;
    left: 100px;
}

.name-site a:hover {
    color: rgb(129, 129, 129);
}

